.expenses-list {
    list-style: none;
    padding: 0;
  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }
  .total-expense{
    color:white;
    font-size: 20px;
    margin-left: 26%;
  }